<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mhao(W17*E19*H67CM)1</key>
	<dict>
		<key>绿色水晶</key>
		<string>0</string>
		<key>蓝色水晶</key>
		<string>20</string>
		<key>红色水晶</key>
		<string>10</string>
	</dict>
	<key>Mhao(W17*E19*H67CM)2</key>
	<dict>
		<key>绿色水晶</key>
		<string>5</string>
		<key>红色水晶</key>
		<string>10</string>
		<key>蓝色水晶</key>
		<string>0</string>
	</dict>
	<key>Mhao(W17*E19*H67CM)3</key>
	<dict>
		<key>绿色水晶</key>
		<string>10</string>
		<key>红色水晶</key>
		<string>0</string>
		<key>蓝色水晶</key>
		<string>100</string>
	</dict>
	<key>Mhao(W17*E19*H67CM)4</key>
	<dict>
		<key>蓝色水晶</key>
		<string>0</string>
		<key>红色水晶</key>
		<string>20</string>
		<key>绿色水晶</key>
		<string>30</string>
	</dict>
	<key>绿色水晶</key>
	<dict>
		<key>Mhao(W17*E19*H67CM)3</key>
		<string>10</string>
		<key>Mhao(W17*E19*H67CM)2</key>
		<string>5</string>
		<key>Mhao(W17*E19*H67CM)1</key>
		<string>0</string>
		<key>Mhao(W17*E19*H67CM)4</key>
		<string>30</string>
	</dict>
	<key>红色水晶</key>
	<dict>
		<key>Mhao(W17*E19*H67CM)3</key>
		<string>0</string>
		<key>Mhao(W17*E19*H67CM)2</key>
		<string>10</string>
		<key>Mhao(W17*E19*H67CM)1</key>
		<string>10</string>
		<key>Mhao(W17*E19*H67CM)4</key>
		<string>20</string>
	</dict>
	<key>蓝色水晶</key>
	<dict>
		<key>Mhao(W17*E19*H67CM)3</key>
		<string>100</string>
		<key>Mhao(W17*E19*H67CM)2</key>
		<string>0</string>
		<key>Mhao(W17*E19*H67CM)1</key>
		<string>20</string>
		<key>Mhao(W17*E19*H67CM)4</key>
		<string>0</string>
	</dict>
</dict>
</plist>
